# =====================================================
# FEELSAFE - VARIABLES DE ENTORNO
# 
# =====================================================

# --- Firebase ---
VITE_FIREBASE_API_KEY=AIzaSyBdyaDgbKwMlQEE9-pL8quejQjbWP9xkcQ
VITE_FIREBASE_AUTH_DOMAIN=feelsafe-ba317.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=feelsafe-ba317
VITE_FIREBASE_STORAGE_BUCKET=feelsafe-ba317.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=142737832795
VITE_FIREBASE_APP_ID=1:142737832795:web:762463fde5170d2deeb87e



# --- Gemini AI  ---
GEMINI_API_KEY=AQ.Ab8RN6IP2pUoYP9_xZ6JeCDkJlt8FNhwhQlwn5km4-RH_XVoLA

FIREBASE_WEB_API_KEY=tu_api_key_de_firebase_para_validar_sesiones

# --- VAPID para notificaciones web ---
VITE_FIREBASE_VAPID_KEY=BEdv50oAWAEnrGfk5UtFDFJ_aIu8y0VbvJc5EUsKn9gaG9zTOZ40m_FD-KGeoU21ThDrGRPTfhB3Y_LEtwXEIDo

# Opcional: URL de tu propio endpoint compatible con /api/gemini
# VITE_GEMINI_API_URL=/api/gemini
