*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:
Inter,
"Poppins",
sans-serif;

background:var(--background);

color:var(--text);

overflow-x:hidden;

}

button{

font-family:inherit;

cursor:pointer;

transition:var(--transition);

}

input,
textarea{

font-family:inherit;

}

a{

text-decoration:none;

color:inherit;

}