:root{

/* ========= Colores FeelSafe ========= */

--primary:#6D4C8F;
--primary-dark:#563874;
--primary-light:#CDB4DB;

--secondary:#BFD7FF;

--background:#FAF8FB;

--surface:#FFFFFF;

--surface-light:#FFFFFF;

--success:#34C759;

--warning:#FFB020;

--danger:#FF4D6D;

--text:#2D1B46;

--text-light:#7A6A91;

--border:#E5E7EB;


/* ========= Bordes ========= */

--radius-sm:12px;
--radius-md:18px;
--radius-lg:28px;


/* ========= Sombras ========= */
--shadow-sm:
0 5px 20px rgba(45,27,70,.05);

--shadow-md:
0 15px 40px rgba(109,76,143,.12);

--shadow-lg:
0 25px 70px rgba(109,76,143,.18);

/* ========= Transiciones ========= */

--transition:.3s ease;

/* ========= Tipografias ========= */
--font-title:"Poppins", sans-serif;
--font-body:"Inter", sans-serif;

}